<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>

    <div id="wrap">

    {% if error_msg %}
    <div id="error">
      {{ error_msg }}
    </div>
    {% endif %}

    <div id="header">
      <div id="lip" style="font-size:smaller;">
	{% if lip %}
	<a href="/home">home</a>
	<a href="/openid-user?openid={{lip.openid|urlencode}}">profile</a>
	<a href="/openid-logout">logout</a>
	
	{% else %}
	<a href="/openid-login">login</a>
	{% endif %}
      </div>


      <div style="clear:both;"></div>
    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    </div>

  </body>

</html>
